@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;
  border-radius: 100vh;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--main-accent-color);
  border-radius: 100vh;
}

:root {
  --main-accent-color: #de6e23;
  --main-text-color: #f4fdff;
  --main-background-color: #1e1e1e;
  --darker-background-color: #1a1a1a;
  --lighter-background-color: #252525;
}

html{
  scroll-behavior: smooth;

}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}


/* ^^ CSS Standards ^^ */


nav {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 5em;
  padding-right: 5em;
  background-color: #1e1e1e;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

nav .nav_home{
  flex-basis: calc(100% / 1);
}

nav .nav_home i{
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

nav .nav_home i:hover{
  color: var(--main-accent-color);
  transform: scale(1.2);
}

nav i{
  font-size: 1.5em;
  color: var(--main-text-color);
}

nav .nav_links{
  display: flex;
  justify-content: flex-end;
  padding-right: 3em;
  align-items: center;
  gap: 30px;
  border-right: 2px solid var(--main-accent-color);
  margin-right: 3em;
  height: 40px;
  flex-grow: 1;
  width: 500px;
  
}

nav .nav_links a{
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

nav .nav_links a:hover{
  color: var(--main-accent-color);
  transform: scale(1.1);
}

nav .nav_socials{
  display: flex;
  flex-grow: 1;
  font-size: 0.9em;
}

nav .socials_icons {
  display: flex;
  justify-content: space-between;
  width: 140px;
}

nav .socials_icons a {
  text-decoration: none;
  color: var(--main-text-color);
}

nav .socials_icons i {
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

nav .socials_icons i:hover {
  transform: scale(1.2);
  color: var(--main-accent-color);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  text-align: center;
  height: 100px;
  margin-top: 50px;
  background-color: var(--darker-background-color)
}

footer p {
  font-size: small;
  text-align: center;
}

footer .work_in_progress{
  font-size: x-small;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 5em;
}

header img {
  position: relative;
  object-fit: contain;
  filter: brightness(0.4) blur(5px);
  transform: scale(1.5);
}

.header_text{
  position: absolute;
  text-align: center;
  font-size: large;
}

#project_section {
  display: flex;
  justify-content: center;
  gap: 15px;
  position: relative;
  flex-wrap: wrap;
}

.project_container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 275px;
  overflow: hidden;
  border-radius: 2vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.project_container img {
  object-fit: cover;
  max-height: 275px;
  z-index: 0;
  transition: 500ms cubic-bezier(0.06, 0.69, 0.2, 0.98);
}

.project_information {
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 500px;
  height: 100px;
  z-index: 1;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  border-radius: 0vh 0vh 2vh 2vh;
  transition: 500ms cubic-bezier(0.06, 0.69, 0.2, 0.98);
}

.project_container:hover .project_information {
  height: 110px;
}

.project_container:hover img {
  transform: scale(1.1);
}

.project_information h2 {
  margin: 0;
}

.tags {
  display: flex;
}

.tag_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  border-radius: 2vh;
  margin-top: 5px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tag_container p {
  margin: 0;
  font-size: small;
}

.dot_hobby {
  width: 10px;
  height: 10px;
  background-color: #de3923;
  border-radius: 100%;
  margin-right: 10px;
}

.dot_motion {
  width: 10px;
  height: 10px;
  background-color: #2374de;
  border-radius: 100%;
  margin-right: 10px;
}