@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  background-color: #1f1f1f;
  border-radius: 100vh;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--main-accent-color);
  border-radius: 100vh;
}

:root {
  --main-accent-color: #de6e23;
  --main-text-color: #f4fdff;
  --main-background-color: #1e1e1e;
  --darker-background-color: #1a1a1a;
  --lighter-background-color: #252525;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

.accent_color {
  color: var(--main-accent-color);
}

/* ^^ CSS Standards ^^ */

dialog {
  margin: auto;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.45);
}

nav {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 5em;
  padding-right: 5em;
  background-color: var(--main-background-color);
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

nav .nav_home {
  flex-basis: calc(100% / 1);
}

nav .nav_home i {
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

nav .nav_home i:hover {
  color: var(--main-accent-color);
  transform: scale(1.2);
}

nav i {
  font-size: 1.5em;
  color: var(--main-text-color);
}

nav .nav_links {
  display: flex;
  justify-content: flex-end;
  padding-right: 3em;
  align-items: center;
  gap: 30px;
  border-right: 2px solid var(--main-accent-color);
  margin-right: 3em;
  height: 40px;
  flex-grow: 1;
  width: 500px;
}

nav .nav_links a {
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

nav .nav_links a:hover {
  color: var(--main-accent-color);
  transform: scale(1.1);
}

nav .nav_socials {
  display: flex;
  flex-grow: 1;
  font-size: 0.9em;
}

nav .socials_icons {
  display: flex;
  justify-content: space-around;
  width: 120px;
  gap: 0.7em;
}

nav .socials_icons a {
  text-decoration: none;
  color: var(--main-text-color);
}

nav .socials_icons i {
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

nav .socials_icons i:hover {
  transform: scale(1.2);
  color: var(--main-accent-color);
}

span {
  color: var(--main-text-color);
}

#hero_section {
  height: 100vh;
  position: relative;
}

#header_background {
  z-index: -1;
  height: 100vh;
  width: 100%;
  position: absolute;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_text {
  font-size: small;
  margin-top: 0%;
}

header h1 {
  color: var(--main-text-color);
  font-size: 4em;
  margin-top: 50px;
  margin-bottom: 0%;

  background-image: linear-gradient(
    to right,
    #de6e23,
    #de6e23,
    #de6e23,
    #de3923,
    #de6e23,
    #de6e23,
    #de6e23
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: gradient_animation 4s infinite alternate ease-in-out;
}

@keyframes gradient_animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 50px;
}

.main_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  box-sizing: border-box;
}

.quote {
  font-style: italic;
  font-size: 0.95em;
  font-weight: lighter;
}

.quotations {
  font-size: x-large;
  color: var(--main-accent-color);
  font-weight: bolder;
}

.name {
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-top: 20px;
}

.aka {
  font-size: x-small;
  margin-top: 0px;
  margin-bottom: 20px;
}

.main_line {
  background-color: var(--main-accent-color);
  width: 2px;
  height: 300px;
}

.main_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  box-sizing: border-box;
}

.main_right i {
  line-height: 1.7em;
  color: var(--main-accent-color);
}

.main_right h2 {
  margin-top: 0%;
  margin-bottom: 2vh;
}

.read_more_btn {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2vh;
  border-radius: 1vh;
  border: none;
  color: white;
  background-color: var(--lighter-background-color);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

.read_more_btn:hover {
  background-color: var(--main-accent-color);
}

.read_more_btn i {
  margin-left: 5px;
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

.read_more_btn:hover i {
  color: var(--main-text-color);
  transform: translateX(50%);
}

.profile_pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: solid 2px var(--main-accent-color);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.icon_text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-left: 20px;
}

.icon_text1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-left: 22px;
}

.icon_text2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-left: 16px;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  text-align: center;
  height: 100px;
  width: 100%;
  margin-top: 50px;
  background-color: var(--darker-background-color);
}

footer p {
  font-size: small;
  text-align: center;
}

#extra_socials_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra_socials_cards {
  display: flex;
  justify-content: center;
  width: auto;
  gap: 20px;
  position: relative;
}

.social_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  transition: 200ms cubic-bezier(0.12, 0.67, 0.2, 0.97);
  border-radius: 2vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--lighter-background-color);
}

.social_card:hover {
  width: 300px;
}

.social_card:hover .social_card_logos {
  transform: scale(1.3);
}

.social_background_img_backloggd {
  position: relative;
  top: 10%;
  left: 0;
  filter: blur(4px);
}

.social_background_img_ani {
  position: relative;
  top: 60%;
  left: 0;
  filter: blur(4px);
}

.social_background_img_osu {
  position: relative;
  bottom: 95%;
  left: 0;
  filter: blur(3px);
}

.social_background_img_mt {
  position: relative;
  bottom: 20%;
  left: 0;
  filter: blur(4px);
}

.social_card_logos {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

#commission_status_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  position: relative;
  background-color: var(--darker-background-color);
}

.commission_status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 450px;
  border-radius: 2vh;
  background-color: var(--lighter-background-color);
  position: relative;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.commission_status i {
  color: var(--main-accent-color);
}

.commission_status button {
  position: absolute;
  bottom: -15%;
}

.read_more_btn_commission_closed {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2vh;
  border-radius: 1vh;
  border: none;
  color: white;
  background-color: var(--lighter-background-color);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

.read_more_btn_commission_closed:hover {
  background-color: var(--main-accent-color);
}

.read_more_btn_commission_closed i {
  margin-left: 5px;
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

.read_more_btn_commission_closed:hover i {
  color: var(--main-text-color);
  transform: translateX(50%);
}

.commission_closed_modal {
  text-align: center;
  border-radius: 2vh;
  padding: 15px;
  width: 750px;
  border: none;
  background-color: var(--lighter-background-color);
  color: var(--main-text-color);
  animation: 0.5s cubic-bezier(0.09, 0.74, 0.49, 0.96) modal_appear;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

@keyframes modal_appear {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.commission_closed_modal i {
  font-size: xx-large;
  color: var(--main-accent-color);
}

.commission_closed_modal h2 {
  font-size: xx-large;
  margin-bottom: 10px;
}

.commission_closed_modal button {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2vh;
  border-radius: 1vh;
  border: none;
  color: white;
  background-color: var(--darker-background-color);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 300ms cubic-bezier(0.09, 0.74, 0.49, 0.96);
}

.commission_closed_modal button:hover {
  background-color: var(--main-accent-color);
}

.commission_status_animation {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.outer_circle_red {
  width: 20px;
  height: 20px;
  background-color: #de3923;
  border-radius: 100%;
}

.inner_circle_red {
  width: 20px;
  height: 20px;
  background-color: #de3923;
  border-radius: 100%;
  animation: 2.5s ease-out infinite blinking;
}

.outer_circle_green {
  width: 20px;
  height: 20px;
  background-color: #29de23;
  border-radius: 100%;
}

.inner_circle_green {
  width: 20px;
  height: 20px;
  background-color: #29de23;
  border-radius: 100%;
  animation: 2.5s ease-out infinite blinking;
}

@keyframes blinking {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#big_text_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#big_text_container p {
  font-size: 20em;
  font-weight: 600;
  white-space: nowrap;
}

#more_about_me_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.more_about_me_long {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  text-align: end;
}

.more_about_me_picture {
  max-height: 350px;
  width: 550px;
  max-width: 100%;
  border-radius: 2vh;
  overflow: hidden;
}

.more_about_me_info {
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.more_about_me_info h2 {
  font-size: xx-large;
}

.more_about_me_hobbies {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 50px;
}

.skills_container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.skills_container h2 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 50px;
}

.app_logos {
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: var(--lighter-background-color);
  padding: 20px;
  border-radius: 2vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.app_logos img {
  height: 40px;
}

/* Media quaries */

@media all and (max-width: 1200px) {
  #more_about_me_container {
    width: 100%;
    overflow: hidden;
    margin-top: 3em;
  }

  #big_text_container p {
    font-size: 4.5em;
  }

  .more_about_me_long {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 0px;
    margin-bottom: 5em;
  }
  .more_about_me_info {
    text-align: left;
    margin-top: 1em;
  }

  .more_about_me_hobbies {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 100%;
    gap: 0px;
  }
}

@media all and (max-width: 800px) {
  main {
    flex-direction: column;
  }

  .nav_links a {
    display: none;
  }

  #hero_section {
    height: 120vh;
  }

  #header_background {
    height: 120vh;
  }

  .main_left {
    padding-top: 0;
    justify-content: start;
    height: 250px;
  }

  .main_line {
    width: 100px;
    height: 2px;
    margin: 0;
  }

  .main_right {
    justify-content: start;
    height: 165px;
    margin: 0px;
  }

  .extra_socials_cards {
    margin-top: 0px;
    width: 300px;
    flex-wrap: wrap;
  }

  #header_background {
    display: none;
  }

  #commission_status_section {
    padding: 20px;
  }

  #commission_status_section h2 {
    text-align: center;
  }

  .social_card:hover {
    width: 100px;
  }

  .social_card:hover .social_card_logos {
    transform: none;
  }

  .why_section_card {
    width: 350px;
  }

  .app_logos {
    display: flex;
    justify-content: center;
    width: 300px;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 20px;
  }

  .more_about_me_info {
    padding: 30px;
  }

  footer {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .social_background_img_backloggd {
    display: none;
  }

  .social_background_img_ani {
    display: none;
  }

  .social_background_img_osu {
    display: none;
  }

  .social_background_img_mt {
    display: none;
  }
}

@media screen and (max-height: 865px) {
  #hero_section {
    height: 140vh;
  }

  #header_background {
    height: 140vh;
  }
}

@media screen and (max-height: 670px) {
  #hero_section {
    height: 160vh;
  }

  #header_background {
    height: 160vh;
  }
}

@media screen and (max-width: 550px) {
  .more_about_me_picture {
    border-radius: 0vh;
  }
}
